# Introducci칩n al lenguaje Python

In [13]:
x = 10
x + 9

19

In [21]:
x = 10

if x > 5:
    print('x es positivo')
elif x == 0:
    print('x es cero')
else:
    print('x es negativo')

x es positivo

In [25]:
x = -1

if 0 < x < 5:
    print('x est치 dentro del rango')
else:
    print('x est치 fuera del rango')

x est치 fuera del rango

In [31]:
m = 5
n = 10
print(f'm = {m}, n = {n}')

m, n = n, m
print(f'm = {m}, n = {n}')

m = 5, n = 10
m = 10, n = 5

In [33]:
print(type(5))
print(type(6.25))
print(type(True))
print(type('texto'))
print(type(5+6j))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>

In [35]:
print(type(range(5)))

<class 'range'>

In [43]:
for i in range(5,20,2):
    print(f'{i}')

5
7
9
11
13
15
17
19

In [53]:
for i in range(1,10):
    print(f'{i}')
    
    if i == 5:
        break
else:
    print('fin-del-ciclo')

1
2
3
4
5

In [54]:
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [55]:
type([1, 2, 3, 4, 5])

list

In [58]:
my_list = list(range(5,15))
my_list

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [59]:
my_list[1]

6

In [61]:
my_list[3] = 255
my_list

[5, 6, 7, 255, 9, 10, 11, 12, 13, 14]

In [62]:
my_list[2:6]

[7, 255, 9, 10]

In [64]:
my_list[2:6] = [55]

In [65]:
my_list

[5, 6, 55, 11, 12, 13, 14]

In [66]:
my_list = list(range(5,15))
my_list

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [67]:
my_list[2:6] = [-5, -4, -3, -2, -5, -8]
my_list

[5, 6, -5, -4, -3, -2, -5, -8, 11, 12, 13, 14]

In [68]:
my_list = list(range(5,15))
my_list

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [78]:
my_other_list = my_list[2:6]
my_other_list = [255]

In [79]:
my_list

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [75]:
my_list[-4:-1]

[11, 12, 13]

In [76]:
my_list[-1:-4]

[]

In [80]:
my_list[2:]

[7, 8, 9, 10, 11, 12, 13, 14]

In [81]:
my_list[:5]

[5, 6, 7, 8, 9]

In [83]:
my_list[:]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [85]:
for val in my_list:
    print(val)

5
6
7
8
9
10
11
12
13
14

In [88]:
data = [5, 6, -8, 0, 25, -9, 4, 74, 0, -7]

In [89]:
neg_data = []

for val in data:
    if val < 0:
        neg_data.append(val)

neg_data

[-8, -9, -7]

In [95]:
# list comprehension
[v**2 for v in data if v < 0]

[64, 81, 49]

In [98]:
a = 5
b = 10
max = a if a > b else b
(a,b)

(5, 10)

In [103]:
data.sort(reverse=True)

In [105]:
data

[74, 25, 6, 5, 4, 0, 0, -7, -8, -9]