In [1]:
import numpy as np
import pandas as pd

In [5]:
aux_labels = ['uno', 'dos', 'tres']
aux_data = [5, 45, 85]

In [9]:
serie = pd.Series(aux_data)
serie

0     5
1    45
2    85
dtype: int64

In [11]:
serie[1]

45

In [14]:
serie = pd.Series(aux_data, aux_labels)
serie

uno      5
dos     45
tres    85
dtype: int64

In [16]:
serie['dos']

45

In [17]:
serie[1]

45

In [19]:
pd.DataFrame(np.random.rand(5,6))

          0         1         2         3         4         5
0  0.703409  0.089029  0.685878  0.025847  0.402576  0.864066
1  0.685368  0.121729  0.789238  0.543393  0.691019  0.379675
2  0.479899  0.621690  0.654373  0.652520  0.616647  0.454741
3  0.710258  0.867715  0.738155  0.751560  0.510588  0.557563
4  0.691949  0.102982  0.929964  0.886652  0.822249  0.347734

In [23]:
df = pd.DataFrame(np.random.rand(5,6), ['USA', 'MEX', 'NIG', 'ENG', 'CH'],['A','B','C','D','E','F'])
df

            A         B         C         D         E         F
USA  0.349873  0.157372  0.428220  0.630538  0.366477  0.398197
MEX  0.222807  0.450604  0.801435  0.806386  0.503108  0.131745
NIG  0.615805  0.081877  0.536812  0.058148  0.403992  0.694686
ENG  0.756363  0.233771  0.512959  0.090965  0.504637  0.619403
CH   0.648553  0.149679  0.905012  0.380315  0.584438  0.441056

In [32]:
df[['C','F']]

            C         F
USA  0.428220  0.398197
MEX  0.801435  0.131745
NIG  0.536812  0.694686
ENG  0.512959  0.619403
CH   0.905012  0.441056

In [39]:
df.loc[['USA','ENG']][['C','F']]

            C         F
USA  0.428220  0.398197
ENG  0.512959  0.619403

In [55]:
df.loc[['USA','ENG']][['C','F']]

            C         F
USA  0.428220  0.398197
ENG  0.512959  0.619403